<div class="side-left" data-role="header" data-position="inline">
	<table width="100%">
        <tr><td width="1.7em"  align=left >
		        <a href="#/home"
                   class="ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all ui-nodisc-icon"
                   style="display: inline-block;background-color: #000000;border-color: #000;color: #fff;">Back</a></td>
            <td align=left ><div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width:100%;"><span align="center" data-trans="mode_title"></span></div></td>
            <td align=center>&nbsp;</td>
        </tr>
    </table>
</div>

<div role="main" class="ui-content">
    <span class="padding-left-5 break-word sms-draft-tag" data-trans="mode_alert_info"></span>
</div>
